@use "../node_modules/bootstrap/scss/bootstrap";

.App {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logout {
    transform: scaleX(-1);
}

.btn-large{
    font-size: xx-large;
}

.btn-medium{
    font-size: x-large;
}

.card-no-border {
    border: 0;
}

.sign-in {
    align-content: center;
}